@import '../../scss/variables.scss';

.root {
  position: relative;
  z-index: 1;
}

.cardMini {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  row-gap: 10px;

  padding: 10px 0;
  height: 100%;
  width: 100%;

  background-color: $color_basic;

  border: 2px solid $color_accent;
  border-radius: 10px;
}

.background {
  position: absolute;
  z-index: -1;
  
  top: 7%;
  left: 3%;
  right: 3%;

  height: 90%;

  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: inherit;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.cardMini__title {
  text-transform: uppercase;
}

.cardMini__img {
  width: 100%;
  height: 250px;

  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}