@import '../../../scss/variables.scss';

.BackButton {
  position: absolute;
  bottom: 20px;
  left: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  background-color: #fff;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  @media (max-width: #{$middleWidth + px}) {
    left: 0;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 20px 0 $color_accent;
    }
  }
}

.BackButton .material-icons {
  color: #000;
}