.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: prc(100, 995);
  row-gap: 20px;
 
  flex-wrap: wrap;

  @media (max-width: 1040px) {
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    align-content: center;
  }

  @media (max-width: #{$minWidth + px}) {
    justify-content: center;
  }
}