

.actionsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  // @include adaptiv-value(column-gap, 50, 10, 1);
  flex-wrap: wrap;
}