.cocktailPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  column-gap: 50px;
}

.cocktailPage__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ingredients-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cocktailPage__property {
  display: flex;
  justify-content: space-between;
  align-items: center;
}