.cocktailsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
  align-items: stretch;
  @include adaptiv-value(column-gap, 40, 10, 1);
  row-gap: 24px;

  margin-bottom: 40px;
}