.contentContainer {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  gap: 0px 48px;
  grid-auto-rows: auto;
  grid-template-areas:
    "Filters Actions"
    "Filters List";

  &__filters {
    grid-area: Filters;
    margin-bottom: 20px;
  }

  &__actions {
    grid-area: Actions;

    @media (max-width: #{$minWidth + px}) {
      order: -1;
    }
  }

  &__cocktails {
    grid-area: List;
  }
  
  @media (max-width: #{$maxWidthContainer + px}) {
    grid-template-rows: calc(200px + (100 - 200) * ((100vw - 320px) / (1280 - 320))) 1fr;
  }

  @media (max-width: #{$minWidth + px}) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}