.content-container {
  display: grid;
  grid-template-columns: auto 950px;
  grid-template-rows: 100px auto;
  gap: 0px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "Filters Actions"
    "Filters List";

  &__filters {
    grid-area: Filters;
  }

  &__actions {
    grid-area: Actions;
  }

  &__cocktails {
    grid-area: List;
  }
}