@import '../../../scss/variables.scss';

.categoriesList {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-size: 20px;

  list-style: none;
}

.categoriesList__item {
  padding: 14px 15px;

  background-color: $color_light;
  border-radius: 30px; 

  cursor: pointer;

  &:hover {
    background-color: lighten($color_basic, 10%);
  }

  &.current {
    background-color: $color_accent;
  }
}