.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 5px;
  width: 25px;
  height: 25px;

  background: transparent;

  cursor: pointer;
}

.button .button__icon {
  font-size: 18px;
  color: #fff;
}