.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 5px;
  width: 25px;
  height: 25px;

  background: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.button.active {
  background: #ffffff;
}

.button .button__icon {
  font-size: 18px;
  color: #ffffff;
}

.button.active .button__icon {
  color: #000000;
}
