.root {
  position: relative;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  column-gap: 50px;
}

.root__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ingredientsList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root__img {
  img {
    height: 100%;
    width: auto;
  }
}