.iconClear {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  right: 15px;

  opacity: 0.3;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.radioFilter {
  right: 24px;

  path {
    fill: #fff;
  }

}