@import '../../../scss/variables.scss';

.button {
  display: inline-block;
  padding: 10px 15px;
  max-width: 220px;

  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;

  border: 2px solid $color_accent;
  border-radius: 10px;
  background-color: transparent;
  transition: all 300ms ease-out;

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 15px 0 $color_accent;
    }
  }

  &:active {
    background-color: $color_accent;
  }
}