@import "../../../../scss/variables.scss";

.root {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid $color_light;
}

.title {
  margin-bottom: 15px;

  font-size: 16px;
}

.root .list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 200px;
  padding: 10px 15px;

  overflow-y: auto;
  // scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $color_light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color_accent;
    border-radius: 2px;
  }
}

.listItem {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__exclude {
    text-decoration: line-through;
  }
}

.label {
  display: flex;
  align-items: center;
  column-gap: 10px;

  input {
    appearance: none;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 5px;
  width: 25px;
  height: 25px;

  background: transparent;
  border: 1px solid #000;
  border-top: 1px solid $color_light;
  border-left: 1px solid $color_light;

  cursor: pointer;
}

.root .checkbox span {
  display: none;
}

input:checked ~ .checkbox span {
  display: inline-block;
}