@import '../../scss/variables.scss';

.filters {
  display: flex;
  flex-direction: column;

  @media (max-width: #{$minWidth + px}) {
    align-items: center;
  }
}

.filters__titleWrapper {
  display: flex;
  align-items: center;
  height: 100px;
}

.filters__title {
  margin-bottom: 10px;

  @media (max-width: #{$minWidth + px}) {
    cursor: pointer;
  }
}

.filters__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 42px;

  @media (max-width: #{$minWidth + px}) {
    display: none;

    &.show {
      display: flex;
      width: 80%;
    }
  }

  @media (max-width: 385px) {
    &.show {
      width: 100%;
    }
  }
}