.filters {
  display: flex;
  flex-direction: column;
}

.filters__titleWrapper {
  display: flex;
  align-items: center;
  height: 100px;
}

.filters__title {
  margin-bottom: 10px;
}

.filters__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}