$maxWidth: 1440;
$maxWidthContainer: 1280;

$middleWidth: 1279.9; // from 768 to 1280
$minWidth: 767.9; //from 320 to 768

$color_basic: #1d1b1b;
$color_accent: #ff8000;
$color_light: #545454;