@import '../../scss/variables.scss';

.dropdown {
  display: flex;
}


.dropdown__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  
  min-width: 300px;
  border: 2px solid $color_light;
}

.dropdown__icon {
  position: absolute;
  
  right: 15px;
  top: 15px;
  z-index: 1;
  transition: 0.5s;
  pointer-events: none;

  color: $color_light;
}

.dropdown__input {
  padding: 5px 20px;
  width: 100%;

  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: gray;
  
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s linear;
  
  &:hover {
    background-color: lighten($color_basic, 10%);
  }
}

.dropdown.show .dropdown__title {
  background: #373535;
  box-shadow: none;
}

.dropdown__title.current {
  background: #c1e698;
  box-shadow: none;
}

.options {
  display: none;

  padding: 27px 20px 31px;
  width: 100%;

  background: transparent;
  
  overflow: hidden;
}

.dropdown.show .options {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.options__item {
  padding-left: 6px;

  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.05em;
  color: green;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  transition: all 0.5s linear;
}

.options__item:hover {
  color: grey;
  border-bottom-color: grey;
}