.field {
  display: flex;
  align-items: center;
  column-gap: 8px;

  input {
    padding: 3px;

    border-radius: 3px;
    
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}